
<div class="content-body">
	<div class="container-fluid">
		
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Hi, welcome back!</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Masters</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">subjectList</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">List</a></li>
                </ol>
            </div>
        </div>
        <!-- row -->
        <div>
            <h4 class="text-success mt-5">SuccessFully Submitted</h4>
        </div>
    </div>
</div>
